.main-chat
  .main-header
    .main-header__left-box
      %p.main-header__left-box__group-name
        test
      %ul.main-header__left-box__member-list
        Member:
        %li.main-header__left-box__member-list__member
          masa
    .main-header__right-box
      =link_to "#", class: "main-header__right-box__edit-btn" do
        Edit
  .messages
    = render @messages
  .forms
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'new_message__message', placeholder: 'type a message'
        .new_message__input-box
          = f.label :image, class: 'new_message__input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'new_message__submit'